<ion-content [fullscreen]="true">


  <section>
    <div class="logo">
    </div>
    <h1>Cadastro</h1>
    <input type="text" placeholder="Nome">
    <input type="text" placeholder="Nome da empresa">
    <input type="tel" placeholder="Telefone">
    <input type="email" placeholder="Email">
    <input type="password" placeholder="Senha">
    <input type="password" placeholder="Confirmar senha">
    <button id="botao-login" routerLink="../cadastroprod">Continuar</button>
    <h2 class="textlogin">Já possui uma conta? <a routerLink="../home" routerLinkActive="router-link-active"
        id="botao-cadastro">Entre!</a> </h2>
  </section>


</ion-content>

<ion-footer>
  <div class="waves">
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
  </div>
</ion-footer>
