<ion-content [fullscreen]="true">
  <div class="gradient">
    <h1><u>Estatísticas</u></h1>
  </div>
  



</ion-content>


<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <div class="a">

        <ion-title>Ajustes</ion-title>
        <ion-menu-toggle>
          <ion-icon name="close"></ion-icon>
        </ion-menu-toggle>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <div class="ajustes-single">
      <p>Detalhes da conta</p>
    </div>
    <div class="ajustes-single">
      <p>Privacidade</p>
    </div>
    <div class="ajustes-single" style="color: red;" id="present-alert">
      <p>Sair da conta</p>
    </div>

    <ion-alert trigger="present-alert" class="custom-alert" header="Deseja sair da conta?" [buttons]="alertButtons"></ion-alert>

  </ion-content>
</ion-menu>
<!-- footer -->

<ion-tab-bar slot="bottom">
  <ion-tab-button>
    <ion-icon name="receipt-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon name="stats-chart-outline" routerLink="../estatisticas" class="selected"></ion-icon>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon name="home-outline" routerLink="../inicio" class=""></ion-icon>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon routerLink="../produtos" name="cube-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button>
    <div class="" id="main-content">
      <ion-buttons>
        <ion-menu-button>
          <ion-icon name="settings-outline" style="color: rgb(75, 75, 75);"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </div>

  </ion-tab-button>

</ion-tab-bar>

