
<ion-content>
  <div class="gradient">
    <h1><u>"Nome do produto"</u></h1>
  </div>


  <div class="edit-quantidade">
    <p class="text-inicio">Quantidade:</p>
    <div class="box-number">60</div>
    <p><b style="color: #143CC9; font-size: 20px;">40</b> para o mínimo</p>
  </div>

  <div class="edit-quantidade">
    <p class="text-inicio">Valor:</p>
    <div class="box-number">R$ 20,00</div>
    <p><b style="color: #143CC9; font-size: 20px;">5</b> reais de lucro</p>
  </div>

  <div class="edit-quantidade">
    <p class="text-inicio">Validade:</p>
    <div class="box-number">20 / 12</div>
    <p>Restam <b style="color: #143CC9; font-size: 20px;">4</b> meses</p>
  </div>
 

  <div class="titulo">Descrição:</div>
  <div class="center">
  <input type="text" class="box-edit" placeholder="Crie uma descrição (opcional)">
</div>

<div class="titulo">Preço de produção:</div>
<div class="center">
  <input type="number" class="box-edit" placeholder="Valor de produção (opcional)">
</div>


<div class="titulo">Itens usados:</div>

 <!-- <ion-list>
    <ion-select aria-label="Fruit" placeholder="Selecione os itens usados (opcional)" [multiple]="true">
      <ion-select-option value="apples">Apples</ion-select-option>
      <ion-select-option value="oranges">Oranges</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
    </ion-select>
</ion-list>  -->

<ion-list>

  <ion-select aria-label="Itens usados" toggleIcon="caret-down-outline" placeholder="Selecione os itens usados (opcional)" [multiple]="true">
    <ion-select-option>Pão</ion-select-option>
    <ion-select-option>Alface</ion-select-option>
    <ion-select-option>Batata frita</ion-select-option>
    <ion-select-option>Refrigerante</ion-select-option>
    <ion-select-option>Suco</ion-select-option>
    <ion-select-option>Abacaxi</ion-select-option>
    <ion-select-option>Açai</ion-select-option>
  </ion-select>

</ion-list>

</ion-content>





<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <div class="a">

        <ion-title>Ajustes</ion-title>
        <ion-menu-toggle>
          <ion-icon name="close"></ion-icon>
        </ion-menu-toggle>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <div class="ajustes-single">
      <p>Detalhes da conta</p>
    </div>
    <div class="ajustes-single">
      <p>Privacidade</p>
    </div>
    <div class="ajustes-single" style="color: red;" id="present-alert">
      <p>Sair da conta</p>
    </div>

    <ion-alert trigger="present-alert" class="custom-alert" header="Deseja sair da conta?" [buttons]="alertButtons"></ion-alert>

  </ion-content>
</ion-menu>
<!-- footer -->

<ion-tab-bar slot="bottom">
  <ion-tab-button>
    <ion-icon name="receipt-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon name="stats-chart-outline" routerLink="../estatisticas" class=""></ion-icon>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon name="home-outline" routerLink="../inicio" class=""></ion-icon>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon routerLink="../produtos" name="cube-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button>
    <div class="" id="main-content">
      <ion-buttons>
        <ion-menu-button>
          <ion-icon name="settings-outline" style="color: rgb(75, 75, 75);"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </div>

  </ion-tab-button>

</ion-tab-bar>

