.gradient {
  height: 200px;
  width: 100%;
  background-image: linear-gradient(#143cc9, #1d8efc);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: white;
}

.info-box h2 {
  color: #1765db;
  font-size: 18px;
  margin: 0%;
  font-weight: 700;
}

.info-box p {
  color: #212c4a;
  font-size: 14px;
  text-align: center;
  margin: 0%;
  font-weight: 700;
}

.selected {
  color: #143cc9;
  font-size: 32px;
  margin-bottom: 7px;
  transition: 2s;
}

ion-tabs {
  position: fixed;
  bottom: 0;
}

.edit-quantidade {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 32px;
}

.edit-quantidade p {
  margin: 10px;
}

.text-inicio {
  font-weight: 900;
  font-size: 23px;
}

.box-number {
  border: #143cc9 2px solid;
  font-size: 23px;
  border-radius: 5px;
  color: #143CC9;
  margin: 10px;
  padding: 5px;
}

.box-edit {
  border: #143cc9 2px solid;
  height: 58px;
  width: 90%;
  border-radius: 5px;
  text-indent: 10px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titulo {
  font-weight: 900;
  font-size: 20px;
  margin: 20px;
}

.box-edit::placeholder{
  color: #143CC9;
  margin-left: 32px;
}

input:focus {
  outline: none;
}

// caixa select

ion-select {
  background-color: white;
  width: 90%;
  border: #143CC9 2px solid;
  border-radius: 5px;
  color: #143CC9;
  justify-content: center;
  align-items: center;
  display: flex;
  text-indent: 10px;
  height: 58px;
  font-weight: 700;
  margin-bottom: 23px;
  text-overflow: ellipsis;
  white-space: inherit;
  overflow: hidden;
}

ion-select::part(icon){
  margin-top: 1px;
  color: #143CC9;
  
}

ion-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

// not important | comando básico pra remover "setinhas" que aparecem do lado do input type number 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//  animation in ion-select arrow icon

ion-select.always-flip::part(icon) {
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

ion-select.always-flip.select::part(icon) {
  transform: rotate(180deg);
}

ion-select-option {
  white-space: nowrap;
  text-overflow: ellipsis;
}