<ion-content>

  <div class="gradient">
    <h1><u>Produtos</u></h1>
  </div>



  <ion-list>
    <ion-item-sliding>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="../../assets/batata.png" alt="" />
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>Batata</h1>
            <div class="text-dentro-card">
              <p>31x</p>
              <p>04/02</p>
              <p class="preco">R$ 12,99 </p>
            </div>
            <ion-badge color="medium">
            </ion-badge>
          </div>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>



    <ion-item-sliding>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img
            src="https://apoioentrega.vteximg.com.br/arquivos/ids/466641/SALSICHA-HOT-DOG-PERDIGAO-KG-RESFD.jpg?v=637442338663800000"
            alt="" />
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>Salsichas</h1>
            <div class="text-dentro-card">
              <p>24x</p>
              <p>11/5</p>
              <p class="preco">R$ 8,99 </p>
            </div>
            <ion-badge color="medium">
            </ion-badge>
          </div>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>



  </ion-list>

<!-- Botão continuar -->

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="present-alert">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-fab>
  <ion-alert
  trigger="present-alert"
  header="Deseja adicionar um novo produto?"
  [buttons]="alertButtons"
></ion-alert>



  <div class="botao-center">
    <button class="botao" routerLink="../inicio">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </button>
  </div>
</ion-content>