<ion-content [fullscreen]="true">


  <section>
    <div class="logo"></div>
    <h1>Cadastre seus produtos</h1>
    <input type="text" placeholder="Nome">
    <input type="text" placeholder="Quantidade">
    <input type="text" placeholder="Validade">
    <input type="number" placeholder="Preço de venda">
    <div class="botoesdiv">
      <button id="botao-login" routerLink="../listaprod">Continuar</button>
      <button class="adicionar">+</button>
    </div>

  </section>


</ion-content>

<ion-footer>
  <div class="waves">
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
  </div>
</ion-footer>
