.gradient {
  height: 200px;
  width: 100%;
  background-image: linear-gradient(#143cc9, #1d8efc);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: white;
}

.info-box h2 {
  color: #1765db;
  font-size: 18px;
  margin: 0%;
  font-weight: 700;
}

.info-box p {
  color: #212c4a;
  font-size: 14px;
  text-align: center;
  margin: 0%;
  font-weight: 700;
}

.selected {
  color: #143cc9;
  font-size: 32px;
  margin-bottom: 7px;
  transition: 2s;
}

ion-tabs {
  position: fixed;
  bottom: 0;
}

.lembrete-titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.box-lembretes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 15px;
  padding: 15px;
  height: fit-content;
  background-color: #d8e7ff38;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

}

.box-center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

}

.lembretes {
  height: 45px;
  width: 95%;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 5px;
}

.backgroundlogo ion-icon {
  font-size: 25px;
  color: white;
}

.lembretes p {
  margin-left: 12px;
}

.backgroundlogo {
  background-color: #00b1b1;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 0px 0px 5px;
}


